@import "mixins";
@import "placeholder";
@import "reset";

.header{
    @extend %customheader;
    @media only screen and (min-width: 1025px){
        padding: 20px 60px;
    }
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        padding: 18px 50px;;
    }
    &--name{
        @extend %customheader--name;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            margin-right: 150px;
        }
    }

    &--form{
        @extend %customheader--form;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            width: 300px;
            padding-left: 10px;
        }
        .search-button{
            @extend %customsearch-button;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 15px !important;
                margin-right: 70px;
                margin-left: 0px;
            }
        }    
    }

    &--account{
        &:hover {
            background-color:rgb(181, 160, 0);
            width: 155px;
            height: 65px;
        }

        @extend %customheader--account;
        

        .fa-user{
            @extend %customfa-user;
        }
        
        &--profile{
            @extend %customheader--account--profile;
        }
    }

    &--line{
        @extend %customheader--line;
    }

    &--nav{
        &--element{
            @extend %customheader--nav--element;
            &:hover {
                text-decoration:underline;
                color:rgb(181, 160, 0);
            }
        }
    }
}

.Main{
    @extend %customMain;
    &--first{
        @extend %customMain--first;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            padding-top: 100px;
            padding: 50px;
            height: 500px;
        }
        .Girl{
            @extend %customGirl;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                height: 250px;
                margin-right: 20px;
            }
        }

        &--text{
            @extend %customMain--first--text;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                width: 250px;
            }
            .Title{
                @extend %customTitle;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    @include text(25px);
                    margin-top: 10px;
                    margin-left: 0;
                }
            } 

            .Text{
                @extend %customText;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    @include text(15px);
                }
            } 

            .tables{
                @extend %customtables;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    gap: 50px;
                }
                .Table1{
                    @extend %customTable1;
                    @media only screen and (min-width: 601px) and (max-width: 1024px) {
                        margin-left: 20px;
                    }
                }
                .Table2{
                    @extend %customTable2;
                }
            }
        }

        .bird{
            .Peacock{
                @extend %customPeacock; 
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    height: 270px;
                }
            }
        }
    }

    &--second{
        @extend %customMain--second;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            padding-top: 100px;
            padding: 50px;
            height: 500px;
            gap: 30px;
        }
        .secondpic{
            @extend %customsecondpic;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                width: auto;
                height: 360px;
            }
        }

        &--text{
            @extend %customMain--second--text;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                width: 350px;
            }
            .Title{
                @extend %customTitle;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    @include text(25px);
                    margin:0;
                }
            }

            .Text{
                @extend %customText;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    @include text(15px);
                }
            }

            .fa-arrow-right{
                @extend %customfa-arrow-right;
            }

            .Boldtext{
                @extend %customBoldtext;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 15px;
                }
            }
        }
    }
    &--sixth{
        @extend %customMain--sixth;
        padding:90px ;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            padding-top: 100px;
            padding: 50px;
            height: 500px;
            gap: 100px;
        }
        .sixthtext{
            @extend %customsixthtext;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                width: 380px;
            }
            .Title{
                @extend %customTitle;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 25px;
                }
            }
            .Text{
                @extend %customText;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 15px;
                }
            }
            .icontext{
                .texticon{
                    @extend %customtexticon;
                    @media only screen and (min-width: 601px) and (max-width: 1024px) {
                        font-size: 18px;
                    }
                }
                .fa-check{
                    @extend %customfa-check;
                }
            }
    
        }
        .sixthpic{
            @extend %customsixthpic;
        }
    }

    &--seventh{
        @extend %customMain--seventh;
        height: 600px;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            padding-top: 100px;
            padding: 50px;
            height: 500px;
        }
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }
        .comments{
            @extend %costumcomments;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                gap: 20px;
            }
            .elements{
                @extend %customelements;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    width: 250px;
                }
                .eltext{
                    @extend %customeltext;
                    @media only screen and (min-width: 601px) and (max-width: 1024px) {
                        font-size: 18px;
                    }
                }
                .elpar{
                    @extend %customelpar;
                    @media only screen and (min-width: 601px) and (max-width: 1024px) {
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                }
                .commentfoot{
                    @extend %customcommentfoot;
                    @media only screen and (min-width: 601px) and (max-width: 1024px) {
                        gap: 7px;
                    }
                    .commentpic{
                        @extend %customcommentpic;
                        @media only screen and (min-width: 601px) and (max-width: 1024px) {
                            width: 30px;
                            height: 30px;
                        }
                    }

                    .Commentname{
                        @extend %customCommentname;
                        .cname{
                            @extend %customcname;
                            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                                font-size: 15px;
                            }
                        }
                        .cpar{
                            @extend %customcpar;
                            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                                font-size: 12px;
                            }
                        }
                    }

                }
            }
            
        }

    }

}

.Footer{
    @extend %customFooter;
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        padding: 40px;
        gap: 20px;
    }

    &--logo{
        @extend %customFooter--logo;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            width:300px;
        }
        .footertext{
            @extend %customfootertext;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 25px;
            }
        }
        .footerpar{
            @extend %customfooterpar;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 18px;
            }
        }
        .footerlinks{
            @extend %customfooterlinks;
            .links{
                @extend %customlinks;
                .linkstext{
                    @extend %customlinkstext;
                }
            }
        }
    }

    .verticalline{
        @extend %customverticalline;
    }

    &--links{
        @extend %customFooter--links;
        .Menu{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 20px;
                }
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 15px;
                }
            }
        }
        .resources{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 20px;
                }
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 15px;
                }
            }
            
        }
    }

    &--sponsors{
        @extend %customsponsors;
        .spontext{
            @extend %customfoottext;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 20px;
            }
        }
        .footer--logo{
            @extend %customfooter--logo;
            &:hover{
                width: 75px;
            }
        }
    }
    
}