@import "reset";
@import "placeholders";
@import "mixins";

.header{
    @extend %customheader;
    @media only screen and (min-width: 1025px){
        padding: 20px 60px;
    }
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        padding: 18px 50px;;
    }
    &--name{
        @extend %customheader--name;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            margin-right: 150px;
        }
    }

    &--form{
        @extend %customheader--form;
        .form{
            @extend %customform;
            .input{
                @extend %custominput;
                &:focus{
                    outline: none;
                }
            }
            .search-button{
                @extend %customsearch-button;
            }
        } 
    }

    &--account{
        &:hover {
            background-color:rgb(181, 160, 0);
            width: 155px;
            height: 65px;
        }

        @extend %customheader--account;
        

        .fa-user{
            @extend %customfa-user;
        }
        
        &--profile{
            @extend %customheader--account--profile;
        }
    }

    &--line{
        @extend %customheader--line;
    }

    &--nav{
        &--element{
            @extend %customheader--nav--element;
            &:hover {
                text-decoration:underline;
                color:rgb(181, 160, 0);
            }
        }
    }
}
.Main{
    @extend %customMain;
    &--map{
        .Maintext{
            @extend %customMaintext;
        }
        .contacts{
            @extend %customcontacts;
            .phone{
                .number{
                    @extend %customnumber;
                }
            } 

            .time{
                .number{
                    @extend %customnumber;
                }
            
            }
        }
    }


    &--sign{
        @extend %customMain--sign;
        .signtext{
            @extend %customsigntext;
            .Maintext{
                @extend %customMaintext;
            }
            .number{
                @extend %customnumber;
            }
        }
        .signup{
            @extend %customsignup;
            .name{
                @extend %customname;
                .form-els{
                    @extend %customform-els;
                }
            }
            .email{
                @extend %customname;
                .form-els{
                    @extend %customform-els;
                }
            }
        }
        .textarea{
            @extend %customtextarea;
            .area{
                @extend %customarea;
            }
            .submit{
                @extend %customsubmit;
                &:hover{
                    background-color: rgb(150, 119, 41);
                }
            }
        }
    }
}

.Footer{
    @extend %customFooter;
    @media only screen and (min-width: 601px) and (max-width: 1024px) {
        padding: 40px;
        gap: 20px;
    }

    &--logo{
        @extend %customFooter--logo;
        @media only screen and (min-width: 601px) and (max-width: 1024px) {
            width:300px;
        }
        .footertext{
            @extend %customfootertext;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 25px;
            }
        }
        .footerpar{
            @extend %customfooterpar;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 18px;
            }
        }
        .footerlinks{
            @extend %customfooterlinks;
            .links{
                @extend %customlinks;
                .linkstext{
                    @extend %customlinkstext;
                }
            }
        }
    }

    .verticalline{
        @extend %customverticalline;
    }

    &--links{
        @extend %customFooter--links;
        .Menu{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 20px;
                }
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 15px;
                }
            }
        }
        .resources{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 20px;
                }
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
                @media only screen and (min-width: 601px) and (max-width: 1024px) {
                    font-size: 15px;
                }
            }
            
        }
    }

    &--sponsors{
        @extend %customsponsors;
        .spontext{
            @extend %customfoottext;
            @media only screen and (min-width: 601px) and (max-width: 1024px) {
                font-size: 20px;
            }
        }
        .footer--logo{
            @extend %customfooter--logo;
            &:hover{
                width: 75px;
            }
        }
    }
    
}