@mixin sections($color){
    display: flex;
    height: 800px;
    width: 100%;
    padding: 70px;
    background-color: $color;
}

@mixin text($size){
    font-weight: 700;
    font-size: $size;
    font-family: "Charm", serif;
}

@mixin text2($size, $color){
    font-size: $size;
    font-weight: 400;
    font-family: none;
    color: $color;
}