html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*header*/
.header {
  height: 150px;
  padding: 18px 80px;
  margin-top: -170px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.header--name {
  display: inline;
  font-size: 36px;
  font-weight: 400;
  font-family: "Pacifico", serif;
  margin-right: 430px;
  margin-left: 20px;
}

.header--form {
  width: 500px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #FAF8F8;
  padding-left: 30px;
  margin-right: 30px;
  justify-content: center;
}

.header--form {
  font-size: 23px !important;
  font-weight: 400;
  color: #565151;
  margin-left: 20px;
}

.header--account {
  width: 150px;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.header--account--profile {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.header--account .fa-user {
  color: white;
}

.header--line {
  height: 2px;
  width: 100%;
  color: #333;
}

.header--nav--element {
  font-size: 20px;
  font-weight: 400;
  color: rgb(46, 46, 46);
  text-decoration: none;
  margin-right: 40px;
}

/*body*/
.Main {
  padding-top: 50px;
  padding-left: 75px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 170px;
  height: 900px;
}

.Main--sign .signtext .Maintext, .Main--map .Maintext {
  font-weight: 700;
  font-size: 36px;
  font-family: "Charm", serif;
  margin-bottom: 25px;
}

.Main--map .contacts {
  display: flex;
  gap: 70px;
  margin-bottom: 50px;
}

.Main--sign .signtext .number, .Main--map .contacts .time .number, .Main--map .contacts .phone .number {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: grey;
  margin-bottom: 10px;
}

/*second part of the body*/
.Main--sign {
  display: flex;
  flex-direction: column;
}

.Main--sign .signtext {
  width: 700px;
}

.Main--sign .signup {
  width: 700px;
  height: 80px;
  background-color: rgba(128, 128, 128, 0.084);
  padding: 40px 40px;
  display: flex;
  gap: 30px;
}

.Main--sign .signup .email, .Main--sign .signup .name {
  display: inline;
}

.Main--sign .signup .email .form-els, .Main--sign .signup .name .form-els {
  width: 270px;
  height: 30px;
  padding: 10px;
  margin-top: 20px;
}

.Main--sign .textarea {
  width: 700px;
  height: 350px;
  background-color: rgba(128, 128, 128, 0.084);
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
}

.Main--sign .textarea .area {
  width: 600px;
  height: 200px;
  margin-top: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.Main--sign .textarea .submit {
  width: 130px;
  height: 50px;
  color: white;
  background-color: black;
  border-radius: 10px;
  border: none;
}

/*making footer*/
.Footer {
  height: 220px;
  width: 100%;
  background-color: black;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  padding: 60px;
}

.Footer--logo .footertext {
  color: white;
  font-size: 36px;
  font-weight: 700;
  font-family: "Pacifico", serif;
  margin-bottom: 20px;
}

.Footer--logo .footerpar {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: white;
  margin-bottom: 30px;
}

.Footer--logo {
  width: 400px;
}

.Footer--links {
  display: flex;
  gap: 80px;
}

.Footer--sponsors .spontext, .Footer--links .resources .foottext, .Footer--links .Menu .foottext {
  font-weight: 700;
  font-size: 30px;
  font-family: "Charm", serif;
  color: white;
}

.Footer--links .resources .footlinks, .Footer--links .Menu .footlinks {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.Footer--links .resources, .Footer--links .Menu {
  display: flex;
  flex-direction: column;
}

.Footer--sponsors {
  display: flex;
  flex-direction: column;
}

.Footer--sponsors .footer--logo {
  width: 70px;
}

.Footer--logo .footerlinks {
  display: flex;
  gap: 25px;
}

.Footer--logo .footerlinks .links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Footer--logo .footerlinks .links .linkstext {
  font-size: 16px;
  font-weight: 400;
  font-family: none;
  color: white;
}

.header--account:hover {
  background-color: rgb(181, 160, 0);
  width: 155px;
  height: 65px;
}
.header--nav--element:hover {
  text-decoration: underline;
  color: rgb(181, 160, 0);
}

.Main--sign .textarea .submit:hover {
  background-color: rgb(150, 119, 41);
}

.Footer--links .Menu .footlinks:hover {
  text-decoration: underline;
}
.Footer--links .resources .footlinks:hover {
  text-decoration: underline;
}
.Footer--sponsors .footer--logo:hover {
  width: 75px;
}/*# sourceMappingURL=style.css.map */