html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.header {
  height: 150px;
  padding: 18px 80px;
  margin-top: -170px;
  display: flex;
  flex-wrap: wrap;
  position: fixed;
  z-index: 1;
  background-color: white;
}

.header--name {
  display: inline;
  font-size: 36px;
  font-weight: 400;
  font-family: "Pacifico", serif;
  margin-right: 430px;
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.header--form {
  width: 500px;
  height: 60px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  background-color: #FAF8F8;
  padding-left: 30px;
  margin-right: 30px;
  justify-content: center;
}

.header--form .search-button {
  font-size: 20px !important;
  font-weight: 400;
  color: #565151;
  padding-top: 10px;
  margin-right: 180px;
}

.header--account {
  width: 150px;
  height: 60px;
  background-color: black;
  display: flex;
  align-items: center;
  border-radius: 10px;
  justify-content: center;
}

.header--account--profile {
  color: white;
  text-decoration: none;
  margin-left: 10px;
}

.header--account .fa-user {
  color: white;
}

.header--line {
  height: 2px;
  width: 100%;
  color: #333;
}

.header--nav--element {
  font-size: 20px;
  font-weight: 400;
  color: rgb(46, 46, 46);
  text-decoration: none;
  margin-right: 40px;
}

/*making footer*/
.Footer {
  height: 350px;
  width: 100%;
  background-color: black;
  display: flex;
  gap: 100px;
  flex-wrap: wrap;
  padding: 60px;
}

.Footer--logo .footertext {
  color: white;
  font-size: 36px;
  font-weight: 700;
  font-family: "Pacifico", serif;
  margin-bottom: 20px;
}

.Footer--logo .footerpar {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: white;
  margin-bottom: 30px;
}

.Footer--logo {
  width: 400px;
}

.Footer--links {
  display: flex;
  gap: 80px;
}

.Footer--sponsors .spontext, .Footer--links .resources .foottext, .Footer--links .Menu .foottext {
  font-weight: 700;
  font-size: 30px;
  font-family: "Charm", serif;
  color: white;
}

.Footer--links .resources .footlinks, .Footer--links .Menu .footlinks {
  font-size: 20px;
  font-weight: 400;
  font-family: none;
  color: white;
  margin-bottom: 10px;
  text-decoration: none;
}

.Footer--links .resources, .Footer--links .Menu {
  display: flex;
  flex-direction: column;
}

.Footer--sponsors {
  display: flex;
  flex-direction: column;
}

.Footer--sponsors .footer--logo {
  width: 70px;
}

.Footer--logo .footerlinks {
  display: flex;
  gap: 25px;
}

.Footer--logo .footerlinks .links {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.Footer--logo .footerlinks .links .linkstext {
  font-size: 16px;
  font-weight: 400;
  font-family: none;
  color: white;
}

.Footer .verticalline {
  width: 1px;
  height: 210px;
  background-color: rgb(175, 170, 170);
  margin-top: 20px;
}

.main {
  height: 1000px;
  background-color: rgb(255, 255, 255);
  margin-top: 170px;
}

@media only screen and (min-width: 1025px) {
  .header {
    padding: 20px 60px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header {
    padding: 18px 50px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header--name {
    margin-right: 150px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header--form {
    width: 300px;
    padding-left: 10px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .header--form .search-button {
    font-size: 15px !important;
    margin-right: 70px;
    margin-left: 0px;
  }
}
.header--account:hover {
  background-color: rgb(181, 160, 0);
  width: 155px;
  height: 65px;
}
.header--nav--element:hover {
  text-decoration: underline;
  color: rgb(181, 160, 0);
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer {
    padding: 40px;
    gap: 20px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--logo {
    width: 300px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--logo .footertext {
    font-size: 25px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--logo .footerpar {
    font-size: 18px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--links .Menu .foottext {
    font-size: 20px;
  }
}
.Footer--links .Menu .footlinks:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--links .Menu .footlinks {
    font-size: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--links .resources .foottext {
    font-size: 20px;
  }
}
.Footer--links .resources .footlinks:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--links .resources .footlinks {
    font-size: 15px;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .Footer--sponsors .spontext {
    font-size: 20px;
  }
}
.Footer--sponsors .footer--logo:hover {
  width: 75px;
}/*# sourceMappingURL=style.css.map */