@import "reset";
@import "placeholder";


.body{
    @extend %custombody;
    .signup-container{
        @extend %customsignup-container;

        .text{
            @extend %customtext;
        }
        .form{
            .input-field{
                @extend %custominput-field;
                &:focus{
                    border-color: #4CAF50;
                    outline: none;
                }
            }
            .signup-btn{
                @extend %customsignup-btn;
                &:hover{
                    background-color: #45a049;
                }
            }
        }
        .google-signup-btn{
            &:hover{
                background-color: rgba(114, 114, 114, 0.089);
            }
            @extend %customgoogle-signup-btn;
            .google-logo{
                @extend %customgoogle-logo;
            }
        }
        .signup-footer{
            @extend %customsignup-footer;
        }
    }
}