@import "mixins";

%customheader{
    height: 150px;
    padding: 18px 80px;
    margin-top: -170px;
    display: flex;
    flex-wrap: wrap; 
    position: fixed;
    z-index: 1;
    background-color: white;
}

%customheader--img{
    width: 50px;
    height: 50px;
}

%customheader--logo{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

%customheader--name{
    display: inline;
    font-size: 36px;
    font-weight: 400;
    font-family: "Pacifico", serif;
    margin-right: 430px;
    margin-left: 20px;
    text-decoration: none;
    color: black;
}

%customheader--form{
    width: 500px;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 6px;
    background-color: #FAF8F8;
    padding-left: 30px;
    margin-right: 30px;
    justify-content: center;
    padding-right: 20px;
}


%customform{
    display: flex;
    align-items: center; 
    width: 100%;
    justify-content: space-between;
}

%custominput{
    padding: 8px 12px;
    width: 80%; 
    border: none;
    font-size: 16px;
    color: #333; 
    background-color: #FAF8F8;
}

%customsearch-button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

%customheader--account{
    width: 150px;
    height: 60px;
    background-color: black;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
}


%customheader--account--profile{
    color:white;
    text-decoration: none;
    margin-left: 10px;
}

%customfa-user{
    color:white;
}

%customheader--line{
    height: 2px;
    width: 100%;
    color: #333;
}

%customheader--nav--element{
    font-size: 20px;
    font-weight: 400;
    color: rgb(46, 46, 46);
    text-decoration: none;
    margin-right: 40px;
}

/*making main page*/
%customMain{
    margin-top:170px;
}

%customcarousel-image-container{
    width: 90%;
    margin-left: 80px;
    position: relative;
}

%customcarousel-text{
    width: 50%;
    position: absolute;
    top: 40%;  
    left: 30px; 
    color: white;  
    padding: 20px;
}

%customcarousel-text--first{
    display: inline;
    @include text(70px);
}

%customcarousel-text--second{

    font-size: 20px;
    width: 85%;
}

%custombutton{
    background-color: black;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

%custombuttontext{
    color: white;
    font-size: 18px;
}

/*section first*/
%customMain--first{
    @include sections(white);
    padding-top: 170px;
}

%customGirl{
    height: 400px;
    margin-right: 50px;
}

%customTitle{
    @include text(36px);
    margin-left: 30px;
    margin-top: 20px;

}

%customMain--first--text{
    width: 500px;
    text-align: center;
    justify-content: center;
    margin-right: 50px;
}

%customText{
    @include text(20px);
    color: #565151;
}

%customPeacock{
    height: 400px;
    margin-top: 100px;
}
%customcircle{
    background-color: black;
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    bottom: 100px;
    left: -70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

%customlearn{
    font-size: 26px;
    color: white;
    text-decoration: none;
}

%customtables{
    display: flex;
    flex-wrap: wrap;
    gap:150px;
}

%customTable1{
    margin-left: 100px;
    display: inline;
}

%customTable2{
    display: inline;
}


/*making second section*/
%customMain--second{
    gap: 80px;
    @include sections(rgba(226, 226, 226, 0.505));
}

%customsecondpic{
    width: auto;
    height: auto;
}

%customMain--second--text{
    width: 470px;
}

%customfa-arrow-right{
    color: blue;
    margin-right: 10px;
}

%customBoldtext{
    font-size: 20px;
    font-weight: 700;
}

/*third section*/
%customMain--third{
    @include sections(white);
    flex-wrap: wrap;
    flex-direction: column;
}

%customMain--third--text{
    display: flex;
}

/*making cards*/
%customMain--third--cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap:26px;
}

%customCard{
    position: relative;
}

%customCardpic{
    width: 220px;
    height: 260px;
    
}

%customCardtext{
    position: absolute;
    bottom: 10px;
    color: white;
    background-color:#565151cc;
}

%customcardname{
    
}
/*making fourth section*/
%customMain--fourth{
    @include sections(rgba(226, 226, 226, 0.505));
    flex-direction: column;
}

%customMain--fourth--text{
    display: flex;
}

%customFourth-cards-pic{
    width: 300px;
}

%customcardcontent{
    padding-top: 10px;
    padding-left: 10px;
}

%customfourth-cards{
    background-color: white;
    width: fit-content;
    border-radius: 5px;
}

%customfourth-text{
    @include text(36px);
}

%fourth-par{
    font-weight: 400;
    font-size: 20px;
    font-family:none;
    color: grey;
}

%customMain--fourth--cards{
    display: flex;
    gap: 40px;
    justify-content:space-around
}

%customcardbutton{
    width: 100px;
    height: 40px;
    border:#333 2px solid;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

%customcardd{
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    margin-top: 5px
}

/*making fifth section*/
%customMain--fifth{
    @include sections(white);
    flex-direction: column;
}


/*making sixth section*/
%customMain--sixth{
    @include sections(rgb(0, 0, 0));
    gap: 250px;
}

%customsixthpic{
    height: auto;
}

%customsixthtext{
    display: flex;
    flex-direction: column;
    width: 550px;
}

%customtexticon{
    @include text(26px);
    color: white;
}

%customfa-check{
    color: white;
    margin-top:8px;
    margin-right: 10px;
}




/*making seventh section*/
%customMain--seventh{
    @include sections(white);
    flex-direction: column;
}

%costumcomments{
    display: flex;
    gap: 50px;
}

%customelements{
    background-color: rgba(128, 128, 128, 0.129);
    width: 450px;
    height: 300px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 20px;
}

%customeltext{
    @include text(26px);
}

%customelpar{
    margin-bottom: 50px;
}

%customcommentfoot{
    display: flex;
    gap: 15px;
}

%customcommentpic{
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

%customCommentname{
    display: flex;
    flex-direction: column;
}

%customcname{
    @include text(24px);
    margin-bottom: 0;
}

%customcpar{
    @include text2(18px, grey)
}

/*making footer*/
%customFooter{
    height: 350px;
    width: 100%;
    background-color: black;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    padding: 60px;
}

%customfootertext{
    color: white;
    font-size: 36px;
    font-weight: 700;
    font-family: "Pacifico", serif;
    margin-bottom: 20px;
}

%customfooterpar{
    @include text2(20px, white);
    margin-bottom:30px;
}

%customFooter--logo{
    width: 400px;
}

%customFooter--links{
    display: flex;
    gap: 80px;
}

%customfoottext{
    @include text(30px);
    color:white;
}

%customfootlinks{
    @include text2(20px, white);
    margin-bottom: 10px;
    text-decoration: none;
}

%customMenu{
    display: flex;
    flex-direction: column;
}

%customsponsors{
    display: flex;
    flex-direction: column;
}

%customfooter--logo{
    width: 70px;
}

%customfooterlinks{
    display: flex;
    gap: 25px;
}

%customlinks{
    display: flex;
    flex-direction: column;
    text-align: center;
}

%customlinkstext{
    @include text2(16px, white);
}

%customverticalline{
    width: 1px;
    height: 210px;
    background-color: rgb(175, 170, 170);
    margin-top: 20px;
}