@import "reset";
@import "placeholders";
@import "mixins";

.header{
    @extend %customheader;
    @media only screen and (max-width:1024px){
        padding: 18px 50px;;
    }
    &--name{
        @extend %customheader--name;
        @media only screen and (max-width:1024px){
            margin-right: 150px;
        }
    }

    &--form{
        @extend %customheader--form;
        @media only screen and (max-width:1024px){
            width: 300px;
            padding-left: 10px;
        }
        .search-button{
            @extend %customsearch-button;
            @media only screen and (max-width:1024px){
                font-size: 15px !important;
                margin-right: 70px;
                margin-left: 0px;
            }
        }    
    }

    &--account{
        &:hover {
            background-color:rgb(181, 160, 0);
            width: 155px;
            height: 65px;
        }

        @extend %customheader--account;
        

        .fa-user{
            @extend %customfa-user;
        }
        
        &--profile{
            @extend %customheader--account--profile;
        }
    }

    &--line{
        @extend %customheader--line;
    }

    &--nav{
        &--element{
            @extend %customheader--nav--element;
            &:hover {
                text-decoration:underline;
                color:rgb(181, 160, 0);
            }
        }
    }
}


.Main{
    @extend %customMain;
    .carousel-image-container{
        @extend %customcarousel-image-container;
        @media only screen and (max-width:1024px){
            margin-left: 0px;
            width: 100%;
        }
    .carousel-text{
        @extend %customcarousel-text;
        @media only screen and (max-width:1024px){
            top: 30%;
        }

        .carousel-text--first{
            @extend %customcarousel-text--first;
            @media only screen and (max-width:1024px){
                @include text(50px);
            }
        }

        .carousel-text--second{
           @extend %customcarousel-text--second;
        }
        .button{
            @extend %custombutton;
            &:hover{
                background-color: rgb(148, 114, 28)
            }
            .buttontext{
                @extend %custombuttontext;
            }
        }
    }
    }

    &--first{
        @extend %customMain--first;
        @media only screen and (max-width:1024px){
            padding-top: 100px;
            padding: 50px;
            height: 500px;
        }
        .Girl{
            @extend %customGirl;
            @media only screen and (max-width:1024px){
                height: 250px;
                margin-right: 20px;
            }
        }

        &--text{
            @extend %customMain--first--text;
            @media only screen and (max-width:1024px){
                width: 250px;
            }
            .Title{
                @extend %customTitle;
                @media only screen and (max-width:1024px){
                    @include text(25px);
                    margin-top: 10px;
                    margin-left: 0;
                }
            } 

            .Text{
                @extend %customText;
                @media only screen and (max-width:1024px){
                    @include text(15px);
                }
            } 

            .tables{
                @extend %customtables;
                @media only screen and (max-width:1024px){
                    gap: 50px;
                }
                .Table1{
                    @extend %customTable1;
                    @media only screen and (max-width:1024px){
                        margin-left: 20px;
                    }
                }
                .Table2{
                    @extend %customTable2;
                }
            }
        }

        .bird{
            .Peacock{
                @extend %customPeacock; 
                @media only screen and (max-width:1024px){
                    height: 270px;
                }
            }
            .circle{
                @extend %customcircle;
                @media only screen and (max-width:1024px){
                    width: 80px;
                    height: 80px;
                    left:-35px;
                    bottom: 60px;
                }
                &:hover{
                    background-color: rgb(140, 111, 40);
                }
                .learn{
                    @extend %customlearn;
                    @media only screen and (max-width:1024px){
                        font-size: 12px;
                    }
                }
            }
        }
    }

    &--second{
        @extend %customMain--second;
        @media only screen and (max-width:1024px){
            padding-top: 100px;
            padding: 50px;
            height: 500px;
            gap: 30px;
        }
        .secondpic{
            @extend %customsecondpic;
            @media only screen and (max-width:1024px){
                width: auto;
                height: 360px;
            }
        }

        &--text{
            @extend %customMain--second--text;
            @media only screen and (max-width:1024px){
                width: 350px;
            }
            .Title{
                @extend %customTitle;
                @media only screen and (max-width:1024px){
                    @include text(25px);
                    margin:0;
                }
            }

            .Text{
                @extend %customText;
                @media only screen and (max-width:1024px){
                    @include text(15px);
                }
            }

            .fa-arrow-right{
                @extend %customfa-arrow-right;
            }

            .Boldtext{
                @extend %customBoldtext;
                @media only screen and (max-width:1024px){
                    font-size: 15px;
                }
            }
        }
    }

    &--third{
        @extend %customMain--third;
        @media only screen and (max-width:1024px){
            padding-top: 100px;
            padding: 50px;
            height: 550px;
        }

        .Title{
            @extend %customTitle;
            margin-bottom: 16px !important;
        }

        .Text{
            @extend %customText;
        }

        &--cards{
            @extend %customMain--third--cards;
            @media only screen and (max-width:1024px){
                gap: 10px;
                width: 750px;
            }

            .Card{
                @extend %customCard;

                .Cardpic{
                    @extend %customCardpic;
                    @media only screen and (max-width:1024px){
                        width: 120px;
                        height: 150px;
                    }
                }

                .Cardtext{
                    @extend %customCardtext;
                    .cardname{
                        @extend %customcardname;
                        @media only screen and (max-width:1024px){
                            font-size: 20px; 
                        }
                    }
                    .pa{
                        display: none;
                    }
                    
                }
            }
        }
    }



    &--fourth{
        @extend %customMain--fourth;
        @media only screen and (max-width:1024px){
            padding-top: 100px;
            padding: 50px;
            height: 570px;
        }
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }

        &--cards{
            @extend %customMain--fourth--cards;
            @media only screen and (max-width:1024px){
                gap: 20px;
                justify-content:left;
            }
            .fourth-cards{
                @extend %customfourth-cards;
                @media only screen and (max-width:1024px){
                    width: 180px;
                }
                .Fourth-cards-pic{
                    @extend %customFourth-cards-pic;
                    @media only screen and (max-width:1024px){
                        width: 180px;
                    }
                }
                .cardcontent{
                    @extend %customcardcontent;
                    .fourth-text{
                        @extend %customfourth-text;
                        @media only screen and (max-width:1024px){
                            @include text(20px);
                        }
                    }
                    .fourth-par{
                        @extend %fourth-par;
                        @media only screen and (max-width:1024px){
                            font-size: 14px;
                        }
                    }
                } 
                .cardbutton{
                    @extend %customcardbutton;
                    @media only screen and (max-width:1024px){
                        width: 70px;
                        height: 30px;
                    }
                    &:hover{
                        background-color: rgba(146, 113, 30, 0.916);
                    }
                    .cardd{
                        @media only screen and (max-width:1024px){
                            font-size: 12px;
                        }
                        @extend %customcardd;
                    }
                }
            }
        }
    }

    &--fifth{
        @extend %customMain--fifth;
        @media only screen and (max-width:1024px){
            padding-top: 100px;
            padding: 50px;
            height: 570px;
        }
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }

        &--cards{
            @extend %customMain--fourth--cards;
            .fourth-cards{
                @extend %customfourth-cards;
                .Fourth-cards-pic{
                    @extend %customFourth-cards-pic;
                }
                .fourth-text{
                    @extend %customfourth-text;
                }
                .fourth-par{
                    @extend %fourth-par;
                }
            }
        }
    }

    &--sixth{
        @extend %customMain--sixth;
        padding:90px ;
        @media only screen and (max-width:1024px){
            padding-top: 100px;
            padding: 50px;
            height: 500px;
        }
        .sixthtext{
            @extend %customsixthtext;
            .Title{
                @extend %customTitle;
            }
            .Text{
                @extend %customText;
            }
            .icontext{
                .texticon{
                    @extend %customtexticon;
                }
                .fa-check{
                    @extend %customfa-check;
                }
            }
    
        }
        .sixthpic{
            @extend %customsixthpic;
        }
    }

    &--seventh{
        @extend %customMain--seventh;
        height: 600px;
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }
        .comments{
            @extend %costumcomments;
            .elements{
                @extend %customelements;
                .eltext{
                    @extend %customeltext;
                }
                .elpar{
                    @extend %customelpar;
                }
                .commentfoot{
                    @extend %customcommentfoot;
                    .commentpic{
                        @extend %customcommentpic;
                    }

                    .Commentname{
                        @extend %customCommentname;
                        .cname{
                            @extend %customcname;
                        }
                        .cpar{
                            @extend %customcpar;
                        }
                    }

                }
            }
            
        }

    }
}

.Footer{
    @extend %customFooter;

    &--logo{
        @extend %customFooter--logo;
        .footertext{
            @extend %customfootertext;
        }
        .footerpar{
            @extend %customfooterpar;
        }
        .footerlinks{
            @extend %customfooterlinks;
            .links{
                @extend %customlinks;
                .linkstext{
                    @extend %customlinkstext;
                }
            }
        }
    }

    .verticalline{
        @extend %customverticalline;
    }

    &--links{
        @extend %customFooter--links;
        .Menu{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
            }
        }
        .resources{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
            }
            
        }
    }

    &--sponsors{
        @extend %customsponsors;
        .spontext{
            @extend %customfoottext;
        }
        .footer--logo{
            @extend %customfooter--logo;
            &:hover{
                width: 75px;
            }
        }
    }
    
}
