@import "reset";
@import "placeholders";
@import "mixins";

.header{
    @extend %customheader;
    &--name{
        @extend %customheader--name;
    }

    &--form{
        @extend %customheader--form;
        @extend %customsearch-button;
    }

    &--account{
        &:hover {
            background-color:rgb(181, 160, 0);
            width: 155px;
            height: 65px;
        }

        @extend %customheader--account;
        

        .fa-user{
            @extend %customfa-user;
        }
        
        &--profile{
            @extend %customheader--account--profile;
        }
    }

    &--line{
        @extend %customheader--line;
    }

    &--nav{
        &--element{
            @extend %customheader--nav--element;
            &:hover {
                text-decoration:underline;
                color:rgb(181, 160, 0);
            }
        }
    }
}

.Main{
    @extend %customMain;
    .carousel-image-container{
        @extend %customcarousel-image-container;
    .carousel-text{
        @extend %customcarousel-text;

        .carousel-text--first{
            @extend %customcarousel-text--first;
        }

        .carousel-text--second{
           @extend %customcarousel-text--second;
        }
    }
    }

    &--first{
        @extend %customMain--first;

        .Girl{
            @extend %customGirl;
        }

        &--text{
            @extend %customMain--first--text;
            
            .Title{
                @extend %customTitle;
            } 

            .Text{
                @extend %customText;
            } 

            .tables{
                @extend %customtables;
                .Table1{
                    @extend %customTable1;
                }
                .Table2{
                    @extend %customTable2;
                }
            }
        }

        .Peacock{
            @extend %customPeacock;
        }
    }

    &--second{
        @extend %customMain--second;

        &--text{
            @extend %customMain--second--text;

            .Title{
                @extend %customTitle;
            }

            .Text{
                @extend %customText;
            }

            .fa-arrow-right{
                @extend %customfa-arrow-right;
            }

            .Boldtext{
                @extend %customBoldtext;
            }
        }
    }

    &--third{
        @extend %customMain--third;

        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }

        &--cards{
            @extend %customMain--third--cards;

            .Card{
                @extend %customCard;

                .Cardpic{
                    @extend %customCardpic;
                }

                .Cardtext{
                    @extend %customCardtext;
                }
            }
        }
    }



    &--fourth{
        @extend %customMain--fourth;
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }

        &--cards{
            @extend %customMain--fourth--cards;
            .fourth-cards{
                @extend %customfourth-cards;
                .Fourth-cards-pic{
                    @extend %customFourth-cards-pic;
                }
                .fourth-text{
                    @extend %customfourth-text;
                }
                .fourth-par{
                    @extend %fourth-par;
                }
            }
        }
    }

    &--fifth{
        @extend %customMain--fifth;
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }

        &--cards{
            @extend %customMain--fourth--cards;
            .fourth-cards{
                @extend %customfourth-cards;
                .Fourth-cards-pic{
                    @extend %customFourth-cards-pic;
                }
                .fourth-text{
                    @extend %customfourth-text;
                }
                .fourth-par{
                    @extend %fourth-par;
                }
            }
        }
    }

    &--sixth{
        @extend %customMain--sixth;

        .sixthtext{
            @extend %customsixthtext;
            .Title{
                @extend %customTitle;
            }
            .Text{
                @extend %customText;
            }
            .icontext{
                .texticon{
                    @extend %customtexticon;
                }
                .fa-check{
                    @extend %customfa-check;
                }
            }
    
        }
        .sixthpic{
            @extend %customsixthpic;
        }
    }

    &--seventh{
        @extend %customMain--seventh;
        .Title{
            @extend %customTitle;
        }

        .Text{
            @extend %customText;
        }
        .comments{
            @extend %costumcomments;
            .elements{
                @extend %customelements;
                .eltext{
                    @extend %customeltext;
                }
                .elpar{
                    @extend %customelpar;
                }
                .commentfoot{
                    @extend %customcommentfoot;
                    .commentpic{
                        @extend %customcommentpic;
                    }
                    .commentname{
                        @extend %customcommentname;
                        .Cname{
                            @extend %customCname;
                        }
                        .Cpar{
                            @extend %customCpar;
                        }
                    }
                    .commenttime{
                        @extend %customcommenttime;
                    }
                }
            }
        }

    }
}

.Footer{
    @extend %customFooter;

    &--logo{
        @extend %customFooter--logo;
        .footertext{
            @extend %customfootertext;
        }
        .footerpar{
            @extend %customfooterpar;
        }
        .footerlinks{
            @extend %customfooterlinks;
            .links{
                @extend %customlinks;
                .linkstext{
                    @extend %customlinkstext;
                }
            }
        }
    }

    &--links{
        @extend %customFooter--links;
        .Menu{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
            }
        }
        .resources{
            @extend %customMenu;
            .foottext{
                @extend %customfoottext;
            }
            .footlinks{
                @extend %customfootlinks;
                &:hover{
                    text-decoration: underline
                }
            }
            
        }
    }

    &--sponsors{
        @extend %customsponsors;
        .spontext{
            @extend %customfoottext;
        }
        .footer--logo{
            @extend %customfooter--logo;
            &:hover{
                width: 75px;
            }
        }
    }
    
}
